[core]
    # editor = subl -nw
    excludesfile = ~/docs/dotfiles/git/.gitignore_global
	quotepath = false

# [includeIf "gitdir:~/docs/"]
#   path = .gitconfig-personal

[user]
    name = Alexander Rodionov
    email = tandav@tandav.me
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMQVZOLIDfzKcHKFs7/+gTQJKaWym+israuy0eQGqX1i

[commit]
    gpgsign = true

[gpg]
    format = ssh

[includeIf "gitdir:~/docs/job/"]
  path = ~/docs/dotfiles/private/.gitconfig-job

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

[push]
    # https://pawelgrzybek.com/auto-setup-remote-branch-and-never-again-see-an-error-about-the-missing-upstream/
    default = current
    autoSetupRemote = true

[pull]
    rebase = true

[safe]
	directory = /home/tandav/github-runners/pitch-detectors/_work/pitch-detectors/pitch-detectors

# https://matklad.github.io/2023/12/31/git-things.html
[diff]
  colormoved = "default"
  colormovedws = "allow-indentation-change"
