[core]
    # editor = subl -nw
    excludesfile = ~/.gitignore_global
[user]
    name = Alexander Rodionov
    email = alx1dr@gmail.com
    signingKey = ~/.ssh/github_ed25519
[commit]
    # gpgsign = true
