[core]
    # editor = subl -nw
    excludesfile = ~/.gitignore_global
	quotepath = false
[user]
	name = Alexander Rodionov
	email = tandav@tandav.me
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMQVZOLIDfzKcHKFs7/+gTQJKaWym+israuy0eQGqX1i
[commit]
    #gpgsign = true
[gpg]
    #format = ssh
# [gpg "ssh"]
  # allowedSignersFile = ~/.ssh/allowed_signers
  # echo "tandav@tandav.me ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMQVZOLIDfzKcHKFs7/+gTQJKaWym+israuy0eQGqX1i" > ~/.ssh/allowed_signers
  # echo "tandav@tandav.me ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMQVZOLIDfzKcHKFs7/+gTQJKaWym+israuy0eQGqX1i" > ~/.ssh/authorized_signatures

# https://calebhearth.com/sign-git-with-ssh
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master # suppres default branch hints on git init
