# crontab $dot/crontab to update crontab with this file
*/5 * * * * scp or3:~/tandav.github.io/private/notes.db /Users/tandav/GoogleDrive/projects/notes/notes.db
*/5 * * * * scp or3:gitea/gitea/gitea/gitea.db /Users/tandav/GoogleDrive/projects/gitea.db
*/3 * * * * zsh -c "source $HOME/.zshrc; dump_tabs tmp"
*/5 * * * * zsh -c "source $HOME/.zshrc; sh /Users/tandav/GoogleDrive/projects/notes/backup.sh"

0 * * * * docker rmi $(docker images -f "dangling=true" -q)

# sudo (sudo crontab -e)
# https://serverfault.com/questions/141773/what-is-archive-mode-in-rsync#141778
0 * * * * rsync -a --delete /media/tandav/sg8tb1/ /media/tandav/sg8tb2

# copying to exfat: https://serverfault.com/a/141778/548704
# TODO: fix weird unsupported filenames
# 0 * * * * rsync -rlt --delete /media/tandav/sg8tb1/ /media/tandav/mypassport/hdd-mirror




# mbp
crontab -e
0/1 * * * * cd /Users/tandav/docs/notes && /Users/tandav/.cache/virtualenvs/notes-cron-export/bin/python -m cron_export
0/5 * * * * cp /Users/tandav/docs/dotfiles/private/tandav.kdbx "/Users/tandav/Library/Mobile Documents/com~apple~CloudDocs"


sudo crontab -e
0/10 * * * * /Users/tandav/.cache/virtualenvs/mail/bin/python /Users/tandav/docs/mail/forward_cron_mail.py
