body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    
    background: #f6f8fa;
    background: rgba(0,0,0,0.15);
    /*margin: 10px 100px 0 100px;*/
}

section {
    font-size: 0.8em;
    width: 200px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    box-shadow: 2px 2px;
    /*font-family: Menlo;*/
    /*font-family: Lucida Grande;*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.wide {
    /*width: 800px;*/
    width: 600px;
}

ol {
    /*list-style: none;*/
}

li {
    margin-top: 2px;
    margin-bottom: 2px;
}

li img {
    margin-right: 4px;
}

code {
    font-family: Menlo;
    font-size: 0.8em;
    padding: 1px 3px 1px 3px;
    /*background: rgba(0,0,0,0.15);*/
    background: #f6f8fa;
    color: black;
}

pre {
    font-family: Menlo;
    font-size: 0.8em;
    padding: 1px 3px 1px 3px;
    background: #f6f8fa;
    color: black;
}


h1 {
    margin-top: 0px;
}

a {
    color: #0366d6;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}

.done {
    /*font-size: 0.7em;*/
    color: green;
    border: 1px solid green;
    padding: 2px;
}

.red {
    /*font-size: 0.7em;*/
    color: red;
    border: 1px solid red;
    padding: 2px;
}

img {
    max-width:100%;
    max-height:100%;
}

