<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.tandav.battery_stats</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/opt/python@3.8/bin/python3</string>
            <string>/Users/tandav/Documents/GoogleDrive/entrypoint/projects/gists/battery_stats.py</string>
        </array>
<!--         <key>StandardOutPath</key>
        <string>/Users/tandav/Desktop/backup-out.txt</string>
        <key>StandardErrorPath</key>
        <string>/Users/tandav/Desktop/backup-err.txt</string>
 -->    <key>WorkingDirectory</key>
        <string>/Users/tandav/Documents/GoogleDrive/entrypoint/projects/gists</string>
        <key>StartInterval</key>
        <integer>43200</integer>
        <key>RunAtLoad</key>
        <true/>
    </dict>
</plist>
